.badge-secondary {
    color: #fff;
    background-color: red;
}

.h1 {
    font-size: 5.5rem;
    text-align: center;
    color: white;
}

body{
    background-image: url("../weather-dashboard/image/Wallpapers-HD-1080p-Nature.jpg")
    
}

#searchbaaar{
    color:black;
    font-weight: bold;
    font-size: 30px;
  
}



.list-group-item+.list-group-item {
    color: black;
}